* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100vh;
}

.dashboard {
  background-color: rgb(33, 33, 230);
  color: white;
}

.dashboard-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0 2rem 0;

  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.dashboard-heading img {
  height: 30px;

  justify-self: end;
}

.dashboard-heading span {
  margin-left: 0.5rem;
}

.dashboard-links-upper,
.dashboard-links-lower {
  display: grid;
  grid-row-gap: 1rem;
}

.dashboard-links-lower {
  margin-top: 3rem;
}

.dashboard-links-upper li,
.dashboard-links-lower li {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.dashboard-links-upper li img,
.dashboard-links-lower li img {
  justify-self: end;
}

.dashboard-links-upper li span,
.dashboard-links-lower li span {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.main-content {
  background-color: rgb(179, 208, 233);

  display: grid;
  grid-template-rows: 1fr 4fr;
}

.main-content-top-navbar {
  background-color: white;
  box-shadow: 2px 2px 5px #7f7fc9;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content-top-navbar img {
  cursor: pointer;
}

.main-content-top-navbar-upper {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 1fr 2fr;
  align-items: center;
  justify-items: center;
}

.main-content-top-navbar-upper input {
  height: 28px;
  width: 550px;
  border: none;
  background-color: rgb(179, 208, 233);
  border-radius: 20px;
  outline: none;
  padding: 0.5rem;

  justify-self: start;
}

.main-content-top-navbar-upper img:nth-child(3) {
  justify-self: end;
}

.main-content-top-navbar-upper .profile-icon-small {
  height: 26px;
  width: 26px;
  background: yellow;
  border-radius: 50%;
}

.main-content-top-navbar-upper span {
  font-size: 1rem;
  font-weight: bold;
}

.main-content-top-navbar-lower {
  display: grid;
  grid-template-columns: 0.8fr 5fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  align-items: center;
}

.main-content-top-navbar-lower .profile-icon-large {
  height: 50px;
  width: 50px;
  background: yellow;
  border-radius: 50%;
  justify-self: end;
}

.main-content-top-navbar-lower button {
  height: 37px;
  border-radius: 20px;
  border: none;
  background-color: rgb(155, 64, 241);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.main-content-top-navbar-lower button:hover {
  background-color: rgb(185, 122, 243);
}

.main-content-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;

  padding: 2rem 1rem;
}

.main-content-body-left {
  grid-row: span 2;
}

.main-content-body-left h3 {
  margin-bottom: 1rem;
}

.main-content-body-left .your-projects {
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

.main-content-body-left .your-projects .your-project {
  background-color: white;
  border-left: 7px solid rgb(199, 199, 56);
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.your-project .your-project-text {
  font-size: 0.8rem;
  color: rgb(97, 88, 88);
}

.your-project .your-project-icons {
  display: flex;
  justify-content: flex-end;
  column-gap: 1.3rem;
}

.main-content-body-right-upper {
  padding-left: 1rem;
}

.main-content-body-right-upper h3 {
  margin-bottom: 1rem;
}

.main-content-body-right-upper .announcements {
  height: 84%;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.announcement {
  padding: 1rem;
}

.announcement:not(:last-child) {
  border-bottom: 1px solid rgb(179, 165, 165);
}

.announcement div {
  font-size: 0.8rem;
  color: rgb(97, 88, 88);
}
