* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100vh;
}

.dashboard {
  background-color: rgb(33, 33, 230);
  color: white;
}

.dashboard-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0 2rem 0;

  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.dashboard-heading img {
  height: 35px;

  justify-self: end;
}

.dashboard-heading span {
  margin-left: 0.5rem;
}

.dashboard-links-upper,
.dashboard-links-lower {
  display: grid;
  grid-row-gap: 1rem;
}

.dashboard-links-lower {
  margin-top: 3rem;
}

.dashboard-links-upper li,
.dashboard-links-lower li {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.dashboard-links-upper li img,
.dashboard-links-lower li img {
  justify-self: end;
}

.dashboard-links-upper li span,
.dashboard-links-lower li span {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.main-content {
  background-color: rgb(179, 208, 233);
}
